body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: navajowhite;
}

.slider-container {
  background-color: grey;
  padding: 200px 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 900px) {
  .slider-container {
    padding: 150px 200px;
  }
}

.previous {
position: absolute;
top: 40%;
left: 0;
font-size: 25px;
color: white;
cursor: pointer;
}

.next {
  position: absolute;
  top: 40%;
  right: 0;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.previous, .next {
  transition: transform 0.3s ease-in-out;
}

.previous:active, .next:active {
  transform: translateX(-20px);
}
